.container {
  margin: 0 auto;
  width: 1200px;
}

/* ===== HEADER ===== */

.header {
  background: rgba(0, 100, 235, 1);
}

.header__inner {
  display: flex;
  align-items: center;
  height: 72px;
}

.header__logo {
  height: 40px;
  margin-right: 22px;
}

.header__search {
  position: relative;
}

.search__icon {
  position: absolute;
  left: 19px;
  top: 13px;
  pointer-events: none;
}

.header__search input {
  width: 500px;
  height: 40px;
  border-radius: 6px;
  outline: none;
  border: none;
  padding-left: 44px;
  font-size: 14px;
  line-height: 17px;
}

/* ==== PROFILE ==== */

.profile {
  padding-top: 39px;
  height: calc(100vh - 72px);
}

.profile__inner {
  display: flex;
  height: 100%;
}

.profile__info {
  display: flex;
  flex-direction: column;
  width: 460px;
}

.profile__avatar {
  height: 280px;
  width: 280px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__name {
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  margin-top: 29px;
}

.profile__login {
  margin-top: 12px;
  color: rgba(0, 100, 235, 1);
  font-size: 18px;
  line-height: 22px;
}

.profile__counts {
  margin-top: 25px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 150%;
}

.profile__followers {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.profile__followers span {
  margin-left: 10px;
}

.profile__following {
  display: flex;
  align-items: center;
}

.profile__following span {
  margin-left: 10px;
}

.profile__repositories {
  /* margin-left: 60px; */
  width: 760px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.repositories__count {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
}

.repositories__list {
  margin-top: 53px;
  margin-left: 40px;
}

.repository {
  display: flex;
  flex-direction: column;
}

.repository:not(:last-child) {
  margin-bottom: 72px;
}

.repository__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: rgba(0, 100, 235, 1);
  margin-bottom: 16px;
}

.repository__description {
  font-size: 16px;
  line-height: 19px;
}

/* ==== PAGINATION ==== */


.pagination {
  margin-top: auto;
  margin-bottom: 50px;
  display: flex;
  color: rgba(128, 128, 128, 1);
}

.pagination__count {
  margin-left: auto;
  font-size: 14px;
  line-height: 21px;
}

.pagination__items {
  display: flex;
  align-items: center;
}

.pagination__arrow {
  margin-left: 26px;
  cursor: pointer;
}

.pagination__numbers {
}

.pagination__number {
  color: rgba(128, 128, 128, 1);
  font-size: 14px;
  line-height: 21px;
  margin-left: 16px;
  padding: 6px 9px;
}

.active {
  background: rgba(0, 100, 235, 1);
  color: #fff;
  border-radius: 3px;
}
